.todo-div{
  border-style: solid;
  margin: 4px;
  border-width: 1px;
  padding: 4px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.date-container{
  display: flex;
  justify-content: space-between;
}

.first-container{
  display: flex;
  justify-content: space-between;
}

.nt-container{
  display: flex;
  flex-direction: column;
}